<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>En quelques questions</h2>

    <fieldset>
      <%- include('form-fieldset-hardware', { title: 'Matériel' }) %>
    </fieldset>
  </body>
</html>
