<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/meeting/form.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>En quelques questions</h2>

    <form>

      Combien de personnes participent à la réunion ?<br>
      <input type="number" name="participantNumber" min="2" max="30">  

      <%- include('form-fieldset-hardware', { title: 'Matériel' }) %>
  
      <%- include('form-fieldset-software', { title: 'Logiciel' }) %>

      <input type="submit">
    </form>
  </body>
</html>
