<fieldset>

    <legend><%= title %></legend>

    <div>
        Quel logiciel de visioconférence utilisez-vous ? <br>
        <input type="radio" name="softwareChoice" id="renavisio" value="renavisio">
        <label for="renavisio">
            Renavisio
        </label><br>
        <input type="radio" name="softwareChoice" id="framatalk" value="framatalk">
        <label for="framatalk">
            Framatalk        
        </label><br>
        <input type="radio" name="softwareChoice" id="hangouts" value="hangouts">
        <label for="hangouts">
            Google Hangouts        
        </label><br> 
        <input type="radio" name="softwareChoice" id="skype" value="skype">
        <label for="skype">
            Microsoft Skype        
        </label><br> 
        <input type="radio" name="softwareChoice" id="other" value="other">
        <label for="other">
            Autre        
        </label><br> 
        <input type="radio" name="softwareChoice" id="noSfotware" value="noSfotware">
        <label for="noSfotware">
            Aucun logiciel        
        </label>
    </div>

</fieldset>