<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <center>
      <a href="/reunion">
        <h2>Créer une réunion</h2>
      </a> 
    </center>
  </body>
</html>
