<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <center>
      <a href="/reunion">
      <p style="font-size:160%;">Bienvenue sur Impactomètre, outil d'évaluation de l'impact environnemental de technologies numériques.</p>
      <p style="font-size:160%;">L'outil permet actuellement de comparer l'impact de différents scénarios de visio-conférence : </p>
      <a href="/reunion">
        <h2>Lancer une comparaison</h2>
      </a> 
    </center>
  </body>
</html>
