*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 1rem; }

body {
  box-sizing: border-box;
  padding: 2rem; }

h1 {
  color: #6dc0e0;
  display: flex; }

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.7; }

.plusMinusBtn {
  border: 0;
  font-size: 1rem;
  font-weight: 900;
  background-color: transparent;
  width: 2rem;
  padding: 0 .4rem;
  color: #71e06d; }

.traveller {
  border-radius: 0.3rem;
  background-color: #f2f2f2;
  margin-bottom: 1rem; }
  .traveller__header {
    border-radius: 0.3rem 0.3rem 0 0;
    background-color: #6dc0e0;
    padding: 0.5rem 1rem; }
  .traveller__journeys {
    padding: 1rem; }

fieldset {
  padding: 1rem;
  margin-bottom: 1rem; }

.conditionalForm {
  display: none; }

.conditionalForm--activator:checked ~ .conditionalForm {
  display: inline-block; }
