<fieldset>

    <legend><%= title %></legend>

    <div class="traveller">
        <div class="traveller__header">
            <h3>Participant 1</h3>
        </div>
        <div class="traveller__journeys">

            <template id="journeyTmpl">
                <%- include('tmpl-journey') %>
            </template>
            
            <div id="traveller-1__addJourneyItem-add" class="traveller__journeyItem traveller__journeyItem--add">
                <button type="button" onclick="addJourneyItem()" class="plusMinusBtn">+</button>
            </div>
        </div>
    </div>

</fieldset>